*{
    margin: 0;
    padding: 0;
}
/* body  */
body{
    background-color: rgb(6, 40, 51);
    line-height: 1.7em;
    text-align: center;
    color: #20c4cb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* --------------------------------------------- */
/* index */
.contain{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain .ring {
    
    position: relative;
    width: 100px;
    height: 100px; 
    margin-top: 150px;
    border-radius: 50%;
    border: 4px solid transparent;
    /* border-top: 4px solid #20c4cb;  */
    animation-name: ani1;
    animation-duration: 4s; 
    animation-iteration-count: infinite;  
    animation-timing-function: linear;  
}

.contain  .ring:nth-child(3){
    
    position: absolute;
    top: -66.66px;
    
}
.contain .ring::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: white; 
    box-shadow: 0 0 0 3px #20c5cbe7,
                0 0 0 7px #20c5cbb4,
                0 0 0 15px #20c5cb9a,
                0 0 17px #20c5cb63,
                0 0 30px #20c5cb38;
} 


@keyframes ani1{
    0%{
        transform: rotate(0deg); 
    }
    100%{
        
        transform: rotate(360deg); 
    }
}
.contain .ring:nth-child(2){
    animation: ani2 4s linear infinite;
    animation-delay: -2s;
    border-top: 4px solid transparent; 
    /* border-left: 4px solid #6ec3e7;   */
    
    
    
}
.contain .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 60px;
    left: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: white;
    box-shadow: 0 0 0 3px #20c5cbd2,
                0 0 0 7px #20c5cbb4,
                0 0 0 15px #20c5cb9a,
                0 0 17px #20c5cb63,
                0 0 30px #20c5cb38;
}
@keyframes ani2{
    0%{
        transform: rotate(360deg); 
    }
    100%{
        
        transform: rotate(0deg); 
    }
}
.contain  .ring:nth-child(3){
    animation: ani2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
    border-top: 4px solid transparent;

}
.contain .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: white;
    box-shadow: 0 0 0 3px #20c5cbe7,
                0 0 0 7px #20c5cbb4,
                0 0 0 15px #20c5cb9a,
                0 0 17px #20c5cb63,
                0 0 30px #20c5cb38;
}
/* header */
.header{
    
    height: 250px;
}
.header h1{
    font-size: 50px;
    line-height: 1.3em;
    position: relative;
    /* animation */
    animation-name: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

.header h1 span{
    background-color: white;
    color: rgb(6, 40, 51);
}

@keyframes header{
    0%{
        top: -200px;

    }
    100%{
        top: 40px;
    }
}

.content{
    position: relative;

    /* animation */
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content{
    0%{
        bottom: -500px;

    }
    100%{
        bottom: 50px;
    }
}

.button{
    display: inline-block;
    position: relative;
    top: -20px;
    color: white;
    text-decoration: none;
    padding: .25em 1em ;
    border: 1px white solid;
    opacity: 0;
    border-radius: .2em;
    box-shadow: 0 0 .8em 0 #20c4cb;
    text-shadow: 0 0 0.2em #20c4cb;
    /* animation */
    animation-name: button;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    /* transition */
    transition-property: all;
    transition-duration: 2s;

}

.button::before{
    content: '';
    position: absolute;
    background-color:#6ec3e7;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    transform: perspective(1em) rotateX(45deg) scale(1.2, .3);
    filter: blur(2em);
}


@keyframes button{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.button:hover{
    transform: scaleX(1.05) scaleY(1.05);
    color: wheat;
    background-color: rgb(6, 40, 51);
    cursor: pointer;
}

/* media querry */
@media(max-width:677px){
    @keyframes content{
        0%{
            bottom: -500px;
        }
        100%{
            bottom: 80px;
        }
    } 
    
    .btn:hover{
        top: 50px;
        
    }
}