@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #D4F1F4;

}
/* subjects */
.main_header{
    margin-top: 30px;
    display: inline-block;
    margin-left: 45%;
    border: 2px #05445E solid;
    background-color: #189AB4;
    padding: 0.5rem;
    color: white;
    box-shadow: 10px 10px 10px #05445E;
    border-radius: 15px;

}

.subjects{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 30px;
    
    
}
.subjects >div{
    
    background-color: #05445E;
    border: 0.2em white solid;
    height: 300px;
    width: 300px;
    color: white;
    border-radius: 15px;

    
}

.subjects >div h2{
    text-align: center;
    /* border-bottom: 1px black solid; */
    padding: 2px;
    margin: 20px;

}

.subjects >div:hover{
    
    background-color: #05445E;
    color: white;
    box-shadow: 4px 4px 50px ;
    transform: scale(1.05);
}

.subjects >div img{
    margin-top: 5px;
    margin-left: 30%;
}

.subjects >div a{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px; 
    text-decoration: none;
    color: aliceblue;
    border: 0.1em white solid;
    padding: 20px 10px;
}
.subjects > div a:hover{
    cursor: pointer;
    background-color: #05445E;
    color: white;
    
    
}
/* home */
.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: all 0.3s ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult
{
    z-index: 5;
    opacity: 1;
    pointer-events:auto;
    transform: translate(-50% , -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding:15px 30px ;
    outline: none;
    border: 2px #023044 solid;
    border-radius: 15px ;
    background-color:#05445E ;
    cursor: pointer;
    text-shadow: 0 0 0.4em  white,
                 0 0 1em white;
    box-shadow: 0 0  0.8em 0 #05445E,
                0 0 0.9em 0 #023044;
    
}


.info_box{
    width: 540px;
    background-color: white;
    border: 2px #05445E;
    border-radius: 15px ;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50% , -50%) scale(1);
    
}

.info_box .info_title{
    color: white;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid wheat;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight:600 ;
    background-color:#05445E;
    border-radius: 15px;

}

.info_box .info_list{
    padding: 15px 35px ;

}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
    
}

.info_box  .buttons{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px wheat solid;

}

.info_box .buttons button{
    margin: 10px;
    height: 40px;
    width: 80px;
    border-radius:10px;
    transition: all 0.3s ease;
    outline: none;

}
.info_box .buttons button:hover{
    background-color: #05445E;
    color: white;
    cursor: pointer;
}

.info_box .buttons .exit{
    background-color:#E7F2F8 ;
}

.info_box .buttons .continue{
    background-color:#74BDCB ;
}

.quiz_box{
    width: 50%;
    background-color: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50% , -50%) scale (0.9);
}
.quiz_box .ins{
    color: rgb(156, 37, 37);
}
.quiz_box header{
    height: 70px;
    z-index: 99;
    padding: 0 30px;
    background-color: #05445E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 5px 5px 0 0; */
    box-shadow: 0px 3px 5px 1px black;
    border-bottom: 1px black solid;
    color: white;
    border-radius: 15px;
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background-color: white;
    border: 1px white solid;
    border-radius: 15px;
    padding: 0 8px;
}

.quiz_box header .timer .time_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
    color: black;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    background-color: #189AB4;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    border: 1px black solid;
    user-select: none;
    box-shadow: 1px 1px 10px #05445E;
}

.quiz_box  .time_line{
    border-radius: 15px;
    bottom: 0px;
    left: 0px;
    height: 5px;
    background-color:  #22acb1;  
    

}

.quiz_box section{
    padding: 25px 30px 20px 30px;
    background-color: white;
    line-height: 2rem;
    box-shadow: 1px 1px 10px #05445E;
    border-radius: 15px;
}

.quiz_box section .que_text{
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 20px;
    
}


.quiz_box section .que_text .option_list{
    background-color: #189AB4;
    border: 1px #05445E solid;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    
    
}
.quiz_box .option{
    background-color: #05445E;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.quiz_box .option:hover{
    cursor: pointer;
    background-color: #023044;
    color: white;
    border: 2px white solid;
    box-shadow: 1px 1px 2px white;
}
.quiz_box .option.correct{
    color:white ;
    background-color:#022e11 ;
    
}
.quiz_box .option.incorrect{
    color:white ;
    background-color: #3a030b;
}

.quiz_box  .buttons {
    
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px #05445E solid;
    
}

.quiz_box .buttons button{
    
    margin: 10px;
    height: 40px;
    width: 80px;
    border-radius:10px;
    transition: all 0.3s ease;
    outline: none;
}

.quiz_box .buttons button:hover{
    color: white;
    background-color: #05445E;
    cursor: pointer;
    box-shadow:1px 1px 20px #05445E;
}

.result_box{
    background-color: #023044;
    color: white;
    width: 600px;
    height: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    line-height: 25px;
    border: 2px  #05445E solid;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50% , -50%) scale (0.9);
    box-shadow: 2px 2px 30px #05445E;
    
}

.result_box .score_text{
    font-size: 30px;
}
.result_box .icon{
    animation-name: won;
    animation-duration: 5s;
}
@keyframes won{
    0%{
        opacity: 0;
        top: -500px;
    }
    100%{
        opacity: 1;
        top: 100px;
    }
}


.result_box .buttons {
    
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    border-top: 1px #05445E solid; 

}

.result_box .buttons button{
    margin: 10px;
    height: 40px;
    width: 80px;
    transition: all 0.3s ease;
    outline:0.2em #74BDCB;
    background-color: #023044;
    color: white;
    border: 2px white solid;
    font-size: medium;
    border-radius: 15px;
       
}


.result_box .buttons .restart{
    margin: 10px;
    height: 40px;
    width: 100px;
    font-size: medium;
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 0.5rem ;
    border: 2px white solid;
    border-radius: 15px;
    

}
@keyframes result{
    0%{
        opacity: 0;
        border-radius: 50%;
        
    }
    100%{
        opacity: 1;
        border-radius: 0%;
    }
}


.result_box .buttons button:hover{
    cursor: pointer;
    color: black;
    background-color: white;

}
